<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="row saleh">
      <div class=" col-xs-12  col-sm-offset-4 col-sm-12  col-md-offset-3 col-md-6  col-lg-offset-3 col-lg-6">
        <form name="form" class="well calcontainer col-xs-12  col-sm-offset-4 col-sm-12  col-md-offset-3 col-md-6  col-lg-offset-3 col-lg-6">

          <input type="text" class="form-control" name="display" id="display" [(ngModel)]="display" disabled readonly><br>
    

          <div class="row">
            <div *ngFor="let l of teclas" class="col-3">
            <button type="button" (click)="addDigito(l)" [value]="l" class="btn btn-secondary bttn" [class.btn-danger]="!isNumber(l)">{{l}}</button>     
            </div>
          </div>
          <div class="row">
            <div class="col -3">
              <button type="button" (click)="calcular()" class="btn btn-success bttne">=</button>      
          
              <button type="button" class="operator btn btn-info bttne" (click)="ce()">CE</button>     
            </div>  
          </div><br>                  
          <div class="p-1">
            <div class="overflow-auto row bg-white" id= "log">
              <app-log></app-log>
            </div>            
          </div>
        </form>
      </div>  
    </div>
    
  </div>
</body>


