p {
  font-family: Lato;
}

.bttne {
    /* last er 2 ta button  ke style korar jonne ai class */
    width: 100px;
    height: 45px;
    margin-top: 10px;
    margin-right: 8px;
}

.bttn {
    /* button gulo ke style korar jonne ai class */
    margin-bottom: 6px;
    width: 55px;
    height: 45px;
    font-size: 22px;
}

#display {
    /* calculator er display er jonne ai id kora hoie */
    text-align: right;
    width: 282px;
    height: 75px;
    font-size: 26px;
    background-color: white;
    border-radius: 7px;

}

.calcontainer {
    /* ai class ta form er modde kora hoice form er size tik orar jonne */
    
    margin-left: 0px;
    margin-top: 20px;
    width: 320px;

    border-radius: 15px;
}

.saleh {
    /* main contain majhe anar jonne ai class 2nd div e ai class ase */
    padding-bottom: 10px;
}